# Server Configuration
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:<PORT>
API_URL=http://localhost:<PORT>


# Database Development Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your-password
DB_DATABASE=portfolio


## JWT Configuration
JWT_SECRET=your-jwt-secret-min-8-chars
JWT_REFRESH_SECRET=your-jwt-refresh-secret-min-8-chars


# Email Configuration
RESEND_API_KEY=re_your_api_key
MAIL_FROM=noreply@yourdomain.com


# OAuth Providers Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:<PORT>/api/auth/google/callback

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:<PORT>/api/auth/github/callback


# MinIO Configuration
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=username
MINIO_SECRET_KEY=password
MINIO_BUCKET_NAME=butket-name
MINIO_PUBLIC_URL=


# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379


# database Render Service
DB_HOST=your-hostname-on-render
DB_PORT=5432
DB_DATABASE=your_database
DB_USERNAME=your_username
DB_PASSWORD=your_password
DB_EXTERNAL_URL=your_external_url