# NextAuth Configuration
NEXTAUTH_URL=http://localhost:<PORT>
NEXTAUTH_SECRET=super-secret-nextauth-key-replace-this-in-production


# Public Environment Variables (accessible on client side)
NEXT_PUBLIC_APP_URL=http://localhost:<PORT>
NEXT_PUBLIC_API_URL=http://localhost:<PORT>/api
